/*  your css code here. If applicable */
body{
	margin: 50%;
	}

.box{
	width: 200px;
	height: 200px;
	background-color: lightblue;
	text-align: center;
	position: absolute;
	border: 1px solid black;
}

.para{
	color: purple;
	position: relative;
	top: 50%
}